body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 28px;
    color: #7c449d;
    line-height: 1.2;
    text-align: center;
}

.header {
    padding: 1rem;
    background-color: #d39ef4;
    color: #7c449d;
}

.header h1 {
    max-width: 80vw;
    margin: auto;
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2.5rem auto 2.5rem;
    max-width: 80vw;
}

footer {
    margin: auto;
}

.voltar-home {
    padding: 0.2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: #d39ef4;
    font-weight: 600;
    color: #7c449d;
}

@media (max-width: 600px) {
    .header h1 {
        text-align: center !important;
    }
}
